[Unit]
Description=FleetManager dnp3 server talks to hybridOS client
Requires=fims.service
After=fims.service

[Service]
User=fleetman
ExecStart=/usr/local/bin/dnp3_interface/dnp3_server /usr/local/etc/config/dnp3_server/%I.json
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
