[Unit]
Description=FleetManager dnp3 master talks to hybridOS
Requires=fims.service
After=fims.service

[Service]
User=fleetman
ExecStart=/usr/local/bin/dnp3_interface/dnp3_master /usr/local/etc/config/dnp3_interface/%I
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
